---
permalink: /tags/
layout: base
---
<h2>All tags:</h2>

<ul>
    {% for tag in collections.tagList %}
    <li>
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    </li>
    {% endfor %}
</ul>

  

