{% include "partials/htmlhead.njk" %}
{% include "partials/nav.njk" %}

<main>
  <p>base layout working</p>
{% block content %}

  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% include "partials/pagelist.njk" %}

{% endblock %}

</main>

{% include "partials/htmlfoot.njk" %}

<hr>
<p>show all pages for debug</p>
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.url }}</a></li>
{%- endfor -%}
</ul>

<hr>
<p>test if images work</p>
{% image "./work/couldYouNot.jpg", "photo of my cat" %}
