{% include "partials/htmlhead.njk" %}
{% include "partials/nav.njk" %}

<main class="bg-gray-400">
  <p>base layout working</p>
{% block content %}

  <h1>{{ title }}</h1>
  <article>
    {{ content | safe }}
  </article>

  {% if eleventyNavigation.key == "thoughts" %}
    {% include "partials/thoughtlist.njk" %}
  {% elif eleventyNavigation.key == "work" %}
    {% include "partials/worklist.njk" %}
  {% endif %}

{% include "partials/postslist.njk" %}

{% endblock %}

</main>

{% include "partials/htmlfoot.njk" %}

<hr>
<p>show all pages for debug</p>
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.url }}</a></li>
{%- endfor -%}
</ul>

