{% extends "base.njk" %}
{% block content %}
  <p> > post layout working</p>

  <!-- make dynamic -->
  <!-- <a href="/thoughts">back to thoughts</a> -->
  <a href="../../{{ parent | url }}">&larr; Back</a>
  <!-- {{ parent }} -->

  <h1>{{ title }}</h1>

  {% if date %}<p class="time"><time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time></p>{% endif %}

  <!-- <p>shows that we can get the file name from the frontmatter: {{ image }}</p> -->

  {% if image %}<img src="/img/{{ image }}" alt="{{ title }}" style="width: 12%; height: 12%;"/>{% endif %}

  <article>
    {{ content | safe }}
  </article>


  <h3>Tags:</h3>
    <ul>
        {% for tag in tags %}
            {% if tag == "all" %}
            {% elif tag == "nav" %}
            {% elif tag == "thoughts" %}
            {% elif tag == "work" %}
            {% else %}
            <li>
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}">{{ tag }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

<!-- this could be cleaner -->
<!-- remove prev/next for work? -->
{% if parent == "work" %}
  {% set nextPost = collections.work | getNextCollectionItem(page) %}
  {% if nextPost %}<p>Next article: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}

  {% set previousPost = collections.work | getPreviousCollectionItem(page) %}
  {% if previousPost %}<p>Previous article: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
{% elif parent == "thoughts" %}
{% set nextPost = collections.thoughts | getNextCollectionItem(page) %}
  {% if nextPost %}<p>Next article: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}

  {% set previousPost = collections.thoughts | getPreviousCollectionItem(page) %}
  {% if previousPost %}<p>Previous article: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
{% endif %}



{% endblock %}