<div>
    <ul>
        {% for post in postslist | reverse %}
        <li>
            <div>
                <h3>
            <a href="{{ post.url | url }}">
                {{ post.data.title }}
            </a>
            </h3>
        </div>
            <ul>
                {% for tag in post.data.tags %}
                {% if tag == "all" %}
                {% elif tag == "nav" %}
                {% elif tag == "post" %}
                {% else %}
                <li>
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}">{{ tag }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
    </ul>
</div>
