<!-- <ol reversed class="taglist" style="counter-reset: start-from {{ (tagslistCounter or tagslist.length) + 1 }}">
{% for tag in tagslist | reverse %}
  <li class="taglist-item{% if tag.url == url %} taglist-item-active{% endif %}">
    <a href="{{ tag.url | url }}" class="taglist-link">{% if tag.data.title %}{{ tag.data.title }}{% else %}<code>{{ tag.url }}</code>{% endif %}</a>
 
    {% for tag in tag.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>
 -->