{% if pagelist %}
<aside class="pagelist">

  {%- for post in pagelist -%}
  <article>

    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>

    {% if post.data.date %}<p class="time"><time datetime="{{ post.data.date }}">{{ post.data.date }}</time></p>{% endif %}

    <!-- <p>{{ post.data.description }}</p> -->

    {% excerpt post %}

    <a href="{{ post.url | url }}"
   aria-label="Read more on {{ post.data.title }}">Read more</a>

   <ul>
    {% for tag in post.data.tags %}
    {% if tag == "all" %}
    {% elif tag == "nav" %}
    {% elif tag == "post" %}
    {% else %}
    <li>
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>

  </article>
  {%- endfor -%}

</aside>
{% endif %}

{% if pagination.href.previous or pagination.href.next %}
<nav class="pagenav">

  {% if pagination.href.previous %}
    <p><a href="{{ pagination.href.previous }}">previous</a></p>
  {% endif %}

  {% if pagination.href.next %}
    <p><a href="{{ pagination.href.next }}">next</a></p>
  {% endif %}

</nav>
{% endif %}