{% if thoughtlist %}
<aside class="thoughtlist">
  <!-- "post" collection is set in page frontmatter -->
  {%- for post in thoughtlist -%}
  <section>

    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>

    {% if post.data.date %}<p class="time"><time datetime="{{ post.data.date }}">{{ post.data.date }}</time></p>{% endif %}

    <!-- <p>{{ post.data.description }}</p> -->
    {% if post.data.image %}<img src="/img/{{ post.data.image }}" alt="{{ post.data.title }}" style="width: 33%; height: 33%;"/>{% endif %}

    <p>{% excerpt post %}</p>

    <a href="{{ post.url | url }}"
    aria-label="Read more on {{ post.data.title }}">Read more</a>

   <ul>
    {% for tag in post.data.tags %}
    {% if tag == "all" %}
    {% elif tag == "nav" %}
    {% elif tag == "thoughts" %}
    {% elif tag == "work" %}
    {% else %}
    <li>
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>

  </section>
  {%- endfor -%}

</aside>
{% endif %}

{% if pagination.href.previous or pagination.href.next %}
<nav class="pagenav">

  {% if pagination.href.previous %}
    <p><a href="{{ pagination.href.previous }}">previous</a></p>
  {% endif %}

  {% if pagination.href.next %}
    <p><a href="{{ pagination.href.next }}">next</a></p>
  {% endif %}

</nav>
{% endif %}